# Testing
- Unit tests should always be written first with clear acceptance criteria and clarity on all the different use cases or scenarios
- documentation of the test sceanrios must be in place and updated with any change